img {
  height: 120px;
  width: 85px;
}

span {
  font-size: 15px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 600;
}

.marginTop {
  margin-top: 30px;
}

#btnWarp {
  white-space: nowrap;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#logo {
  position: absolute;
  left: 16px;
  top: 11px;
  height: 66px;
  width: 54px;
  cursor: pointer;
}

#logoText {
  position: absolute;
  top: 48px;
  left: 26px;
  cursor: pointer;
}

.header-container {
  padding-top: 170px;
  height: 530px;
  background: linear-gradient(black, transparent 60%),
              #1e2022 url(http://hnzyzb.com/data/out/10/44338342-library-wallpapers.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

#titleLg {
  color: #f2e9e1;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 4px 6px 8px rgba(0,0,0,.8);
  margin: 12px 0 0;
  font-size: 7rem;
  line-height: 1.1;
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
  font-size: 55px;
}

#titleSm {
  color: #f2e9e1;
  text-shadow: -1px 10px 7px rgba(0,0,0,.8);
  letter-spacing: .065em;
  font-weight: 200;
  font-size: 1.7rem;
  border: none;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
